#b1 {
    position: relative;
    width: 960px;
    height: 70px;
    margin: 0 auto;
}

#name {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #4aaaa5;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    padding-top: 2.5%;
}

#menu {
    position: absolute;
    right: 0;
    top: 40%;    
}

#menu ul li {
    list-style-type: none;
    display: inline;   
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#menu li:not(:first-child):before {
    content: " | "
}

.header2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;

}

a {
    text-decoration: none;
    color: #777777;
  }
  
#box{
    position: relative;
    padding-top:30px;
    padding-bottom: 60px;
    background-image: url("../images/beanstalk.png");
    border-top: 2px solid #dddddd;
    min-height: calc(110vh - 280px);
}

#content {
    position: relative;
    padding: 30px;
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

#head {
    float: left;
    width: 25%;
    height: 200px;
    margin: 10px 15px 10px 0px;
}

.paragraph {
    line-height: 32px;   /* within paragraph */
    margin-bottom: 15px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#foot {
    position: relative;
    text-align: center;
    background-color: #666666;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
    font-size: small;
}

.textBox {
    width: 100%;
}

#mTextBox {
    height: 150px;
}

.submitButton {
    margin-top: 12px;
    background-color: #4aaaa5;
    padding: 8px 20px;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.project {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 10px 15px 10px 0px;
}

.projectImg {
    width: 100%;
    height: 100%;
    
}

.projectName {
    position: absolute;
    background-color: #4aaaa5;
    padding: 15px 0px;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    bottom: 5%;
    width: 100%;
    text-align: center;
}